/*
	Installed from https://reactbits.dev/ts/default/
*/

.scroll-list-container {
  position: relative;
}

.scroll-list {
  max-height: 600px;
  overflow-y: auto;
  padding: 16px;
}



.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.item {
  padding: 16px;
  
  border-radius: 8px;
  margin-bottom: 1rem;
}

.bg-verde {
  background-color: #a7f3d0;
  transition: background-color 0.3s ease;
}

.bg-verde:hover {
  background-color: #6ee7b7;
}

.bg-rojo {
  background-color: #fecaca;
  transition: background-color 0.3s ease;
}

.bg-rojo:hover {
  background-color: #fca5a5;
}

.bg-gris {
  background-color: #f3f4f6;
  transition: background-color 0.3s ease;
}

.bg-gris:hover {
  background-color: #e5e7eb;
}




.item-text {
 color: black;  
 margin: 0;
}

.top-gradient {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.bottom-gradient {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  pointer-events: none;
  transition: opacity 0.3s ease;
}